nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #000;
    justify-content: center;
}

li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

.logo {
    width: 80px;
    border-radius: 10%;
    margin: 0 20px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}